/* RESET */
body{
    margin:0;
    font-family: Arial, sans-serif;

    /* BACKGROUND */
    background-image: url("wahanakuu.jpeg");
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
}

/* HEADER */
header{
    background:#0037ff;
    color:white;
    padding:15px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h2{
    margin:0;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

/* HERO */
.hero{
    background:rgba(0,0,0,0.6);
    color:white;
    padding:60px 20px;
    text-align:center;
}

.hero h1{
    font-size:36px;
    margin-bottom:10px;
}


/* SLIDER */
.slider{
    width:90%;
    height:350px;
    margin:30px auto;
    border-radius:15px;
    overflow:hidden;
    position:relative;
    box-shadow:0 5px 20px rgba(0,0,0,0.4);
}

.slide{
    width:100%;
    height:350px;
    object-fit:cover;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transition:1s;
}

.slide.active{
    opacity:1;
}


/* CONTENT */
.content, .coming{
    padding:40px 20px;
    text-align:center;
}

.content h2,
.coming h2{
    margin-bottom:25px;
    font-size:28px;
    color:#000;
}

/* CARDS */
.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

/* CARD */
.card{
    width:220px;
    background:#ffffff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

.card h3{
    color:#ff9800;
    margin-bottom:8px;
}

.card p{
    color:#333;
}

/* COMING SOON STYLE */
.soon{
    background:white;
}

.soon h3{
    color:white;
}


/* FOOTER */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:25px;
    font-size:14px;
}


/* RESPONSIVE */
@media(max-width:768px){
    .slider{
        height:200px;
    }

    .slide{
        height:200px;
    }

    .hero h1{
        font-size:26px;
    }

    .card{
        width:90%;
        max-width:300px;
    }
}
/* IMAGE IN CARD */
.card img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:10px;
}
